/* hola ninjacode.tv
*/
body {
  background-color: #a38f8f;
  color: #f9f9f9;
  font-family: Arial;
  line-height: 1.5; }

header {
  -moz-border-radius: 4px 4px;
  -webkit-border-radius: 4px 4px;
  -khtml-border-radius: 4px 4px;
  -o-border-radius: 4px 4px;
  border-radius: 4px 4px;
  border: 4px 4px;
  width: 200px;
  background-color: #DBDBDB; }
  header h1 {
    color: #333;
    padding: 2px 4px; }
    header h1 em {
      color: #7a0909; }

nav a {
  color: #E5E5E5;
  text-decoration: none; }
nav a:visited {
  color: #ccc; }
nav a:active {
  color: #EAEAEA; }
nav a:hover {
  color: #fff; }

section article {
  -moz-border-radius: 4px 4px;
  -webkit-border-radius: 4px 4px;
  -khtml-border-radius: 4px 4px;
  -o-border-radius: 4px 4px;
  border-radius: 4px 4px;
  border: 4px 4px;
  width: 520px;
  color: #4f4f4f;
  background-color: #7f7f7f; }
  section article h1 {
    color: #e0a934;
    padding: 2px 1px;
    margin: 2px 0px; }
  section article p {
    padding: 8px 6px; }

footer {
  -moz-border-radius: 4px 4px;
  -webkit-border-radius: 4px 4px;
  -khtml-border-radius: 4px 4px;
  -o-border-radius: 4px 4px;
  border-radius: 4px 4px;
  border: 4px 4px;
  width: 500px;
  background-color: #DBDBDB;
  text-align: center; }
  footer span {
    color: #333;
    margin: 10px 20px;
    padding: 10px 2px; }
