#ajaxMan {
  color: #b5cee6; }

#ajaxManBox {
  font-color: #b8b8b8; }

#pageMan {
  color: #2466a8; }

#ajaxBoy {
  color: #454545; }
  #ajaxBoy > .ajaxChild {
    color: #454545; }

#ajaxGirl {
  color: #454545; }

#ajaxPet {
  color: #454545; }

#PageGirl {
  color: #5d2a2a; }
