@import "compass/reset";
$margen: 10px;
header, section, aside, hgroup, footer, nav{
	display:block;
}
#contenedor{
	margin:0 auto;
	overflow:hidden;
	width:980px;
}
body{
	background:#CCC;
	color:#FFF;
	font-family:Helvetica;
	font-size:14px;
}

a{ color: #CCC; text-decoration:none; }
a:hover{ color:#FFF; }

ul{ list-style:none; padding:0; }

header{
	height:auto;
}

#social{
	background:#333;
	height:50px;
	overflow:hidden;
	p{
	margin:$margen $margen;}
}

#logo{
	background:#000;
	height:200px;
	overflow:hidden;
	text-align:center;
}

nav{
	background-image: -webkit-linear-gradient(bottom, #660000 0%, #FF0011 81%);
	height:50px;
	overflow:hidden;
	ul{
	text-align:center;
		li{
		display:inline-block;
		vertical-align:top;
			a{
				display:block;
				color:#FFF;
				font-size:1.2em;
				margin:0 10px;
				width:160px;
			}
			a:hover{
				background:red;
			}
		}
	}
}
#slider{
	height:350px;
	ul{
		height:340px;
		margin:10 auto;
		li{
			margin:0 auto;
			width:960px;
			h3{
				font-size:1.5em;
				margin:5px 0 10px 0;
			}
			a{
				background:#8A2908;
				cursor:#FFF;
				display:block;
				padding:5px;
				width:80px;
			}
			img{
				display:inline-block;
				margin:0;
			}
			.caption{
					background:#999;
					display:inline-block;
					height:310px;
					margin-left:-5px;
					padding:10px;
					overflow:hidden;
					vertical-align:top;
					width:280px;}
		}
	}
}
#contenido{
	background:#000;
	overflow:hidden;
	padding:10px;
	#cont{
		display:inline-block;
		overflow:hidden;
		width:610px;
		#bienvenida{
				background-image: -webkit-linear-gradient(bottom, #FF0000 0%, #FF545F 81%);
				border:2px solid #FFF;
				border-radius:5px;
				color:#FFF;
				display:inline-block;
				padding:15px;
				width:570px;
		}
		#posts{
			display:inline-block;
			margin:10px auto;
		}
		article{
			display:inline-block;
			margin-bottom:10px;
			text-align:center;
			vertical-align:top;
			width:200px;
		}
		img{
			border:3px solid orange;
			border-radius:5px;
		}
		article h2, article p, article small{
			display:block;
			margin:0 auto 5px auto;
			text-align:left;
		}
		article h2{
			font-size:1.1em;
		}
		article small{
			color:red;
		}
	}
	aside{
		background:#0778d8;
		border-radius:5px;
		display:inline-block;
		margin-left:10px;
		padding:10px;
		overflow:hidden;
		vertical-align:top;
		width:310px;
		.bloque{
			margin-bottom:10px;
			label{
				display:block;
				margin-bottom:5px;
			}
			h3{
				margin:5px;
			}
			input[type="search"], input[type="text"]{
				border:1px solid #CCC;
				border-radius:5px;
				height:20px;
				margin-bottom:5px;
				width:300px;
			}
		}
	}
}
footer{
	background:#073861;
	overflow:hidden;
	text-align:center;
	.bloque{
		display:inline-block;
		margin-bottom:10px;
		text-align:left;
		vertical-align:top;
		width:280px;
		h4{
			margin-bottom:5px;
		}
		a{
			color:#CCC;
		}
		input[type="text"]{
			border:1px solid #CCC;
			border-radius:5px;
			margin-right:5px;
			margin-bottom: 5px;
			width:150px;
		}
		textarea{
			border-radius:5px;
			height:100px;
			width:250px;
		}
	}
}